<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fittech"
        tools:targetApi="31">
        <activity
            android:name=".TelaVideo"
            android:exported="false"
            android:label="@string/title_activity_tela_video"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaReceita"
            android:exported="true"
            android:label="@string/title_activity_tela_receita"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".Ranking"
            android:exported="false"
            android:label="@string/title_activity_ranking"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaEditarPerfil"
            android:exported="true"
            android:label="@string/title_activity_tela_editar_perfil"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaPoliticaPrivacidade"
            android:exported="true"
            android:label="@string/title_activity_tela_politica_privacidade"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaNotificacao"
            android:exported="true"
            android:label="@string/title_activity_tela_notificacao"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaConfiguracao"
            android:exported="true"
            android:label="@string/title_activity_tela_configuracao"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaGraficos"
            android:exported="false"
            android:label="@string/title_activity_tela_graficos"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaIdioma"
            android:exported="true"
            android:label="@string/title_activity_tela_idioma"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaEsqueceuSenha"
            android:exported="true"
            android:label="@string/title_activity_tela_esqueceu_senha"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaInicialTres"
            android:exported="true"
            android:label="@string/title_activity_tela_inicial_tres"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaInicialDois"
            android:exported="true"
            android:label="@string/title_activity_tela_inicial_dois"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".Questionario"
            android:exported="true"
            android:label="Questionario"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaPerfil"
            android:exported="true"
            android:label="TelaPerfil"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaCadastro"
            android:exported="true"
            android:label="@string/title_activity_tela_cadastro"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".Home"
            android:exported="true"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".TelaLogin"
            android:exported="true"
            android:label="@string/title_activity_tela_login"
            android:theme="@style/Theme.Fittech" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Fittech">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>